# yaml-language-server: $schema=../../infra-helm-charts/charts/generic-app/values.schema.json

environment: "prod"
version: {{ requiredEnv "COMMIT_SHA" | quote }}

deployments:
  - name: "join-sound-website"
    image: "mocbotau/cloud:mocbot-join-sound-uploader-prod"
    service:
      port: 8080
      targetPort: 8080
    ingress:
      subdomain: "join-sound"
      domain: "masterofcubesau.com"
    readinessProbe:
      httpGet:
        path: "/"
        port: 8080
