name: Lint

on:
  pull_request:
    branches:
      - main

env:
  NODE_VERSION: 23.6.1

jobs:
  lint:
    name: Lint and Type Check
    runs-on: ubuntu-latest
    outputs:
      node-version: ${{ steps.setup-node.outputs.node-version }}

    steps:
      - uses: actions/checkout@v5

      - name: Setup Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install PNPM
        run: npm install -g pnpm

      - name: Install dependencies
        working-directory: frontend
        run: pnpm install --frozen-lockfile

      - name: Linting
        working-directory: frontend
        run: pnpm lint
